include AUTHORS
include README.md
include xnosetests.1
include install-rpm.sh
include bin/xnosetests
include distribute_setup.py
include selftest.py
include setup3lib.py
include patch.py
include xnose/usage.txt
graft doc
graft examples
graft unit_tests
graft functional_tests
prune doc/.build
